/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}




/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #222;
}
body {
  color: #fff;
  text-align: left;
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  font-family: 'Exo', 'sans-serif';
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	overflow: hidden;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
	vetical-align:middle;
}
.site-wrapper-inner {
  display: table-cell;
	vertical-align: middle;
	padding:0px;
}

.container {
float:center;
vertical-align:middle;
}

/*
 * Affix and center
 */
@media screen and (max-width: 768px) {
     h1{
font-size:48px;
line-height:50px;
font-family: 'Love Ya Like A Sister', 'cursive';
}

h1.title {
text-align:left;
}

h2 {
font-size:33px;
line-height:35px;
font-family: 'Love Ya Like A Sister', 'cursive';
}

img.phone {
width:80%;
}

img.all {
width:100%;
}

img.portfolio {
width:100%;
}

.square {  
    border: 0px solid #fff;  
    cursor: pointer;  
    height: 140px; 
		min-height:100px; 
    float: left;  
    margin: 5px; 
		width:100%;
    position: relative;  
    overflow: hidden;    
    border:10px solid rgba(0,0,0,.5);
}  

}
 
@media (min-width: 768px) {

	 h1{
color:#000000;
font-size:60px;
line-height:63px;
font-family: 'Love Ya Like A Sister', 'cursive';
}

h2 {
font-size:33px;
line-height:35px;
font-family: 'Love Ya Like A Sister', 'cursive';
}

h1.title {
text-align:left;
}

img.phone {
width:80%;
}

img.all {
width:95%;
}

img.portfolio {
width:100%;
}

.square {  
    border: 0px solid #fff;  
    cursor: pointer;  
    height: 150px;  
    float: left;  
    margin: 5px; 
		width:100%;
    position: relative;  
    overflow: hidden;    
    border:10px solid rgba(0,0,0,.5);
}  

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

}

@media (min-width: 992px) {

	 h1{
color:#000000;
font-size:70px;
line-height:75px;
font-family: 'Love Ya Like A Sister', 'cursive';
}

h1.title {
text-align:left;
}

h2 {
font-size:43px;
line-height:50px;
font-family: 'Love Ya Like A Sister', 'cursive';
}

img.phone {
width:75%;
}

img.all {
width:85%;
}

img.portfolio {
width:100%;
height:100%;
}

.square {  
    border: 0px solid #fff;  
    cursor: pointer;  
    height: 172px;  
    float: left;  
    margin: 5px; 
		width:100%;
    position: relative;  
    overflow: hidden;    
    border:10px solid rgba(0,0,0,.5);
}  

}

#pheading {
font-size:30px;
line-height:40px;
}

.light {
color:#ffffff;
}

h3{
font-size:22px;
line-height:24px;
font-family: 'Love Ya Like A Sister', 'cursive';
}

/*portfolio*/
#portfolio {
background-color:#4F2E45;
box-shadow: inset 0 0 100px rgba(0,0,0,.5);
font-color:#ffffff;
text-align:center;
}

.square img {  
    position: absolute;  
    left: 0;  
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;  
} 

.square .caption {  
    background-color:rgba(41,24,36,.7);  
    position: absolute;  
    color: #fff;  
    z-index: 100;  
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;  
    left: 0;  
} 

    .square .full-caption {  
        width: 100%;  
        height: 177px;  
        top: -200px;  
        text-align: center;  
        padding: 15px;   
				font-color:white; 
    }  
		
		 .square:hover .full-caption {  
    -moz-transform: translateY(100%);  
    -o-transform: translateY(100%);  
    -webkit-transform: translateY(100%);  
    transform: translateY(100%);  
}  

    .square:hover #image-2 {  
       -moz-transform: scale(1.2);  
       -o-transform: scale(1.2);  
       -webkit-transform: scale(1.2);  
       transform: scale(1.2);  
}